@import "../../globals";

header{
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;

    .header-container{
        text-align: center;
        height: 100%;
        position: relative;
    }

    .cta{
        margin-top: 2.5rem;
        display: flex;
        flex-direction: row;
        gap: 1.2rem;
        justify-content: center;
    }

    .header-socials{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.8rem;
        position: absolute;
        left: 0;
        bottom: 3rem;

        &::after{
            content: "";
            width: 1px;
            height: 2rem;
            background-color: $primary;
        }
    }
}
