@import "../../globals";

.PageNotFound{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .error-heading{
        color: #CA0B00;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 6rem;
    }

    p{
        color: $primary;
        font-size: 2rem;
    }
}