$bg : #1f1d1d;
$bg-variant: #6c6664;
$primary: #c2bebc;
$primary-variant: rgba(174, 168, 165, 0.4);
$white : #fff;
$light : rgba(255, 255, 255, 0.6);
$container-width-lg: 75%;
$container-width-md: 86%;
$container-width-sm: 90%;
$transition: all 200ms ease;


