$bg : #1f1f38;
$bg-variant: 2c2c6c;
$primary: #4db5ff;
$primary-variant: rgba(77, 181, 255, 0.4);
$white : #fff;
$light : rgba(255, 255, 255, 0.6);
$container-width-lg: 75%;
$container-width-md: 86%;
$container-width-sm: 90%;
$transition: all 200ms ease;


